<div class="d-flex flex-column flex-md-row align-items-center justify-content-between p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <!-- <img class="my-0 mr-md-auto" src="/assets/images/icono.png" alt="" srcset="" width="120px"> -->
    <img src="/assets/images/icono.png" alt="" srcset="" width="110px">

    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-dark" href="#">Inicio</a>
      <a class="p-2 text-dark" routerLink="/productos">Productos</a>
      <a class="p-2 text-dark" href="#">Tipos de producto</a>
    </nav>
    
    <div class="d-flex align-items-center">
        <a class="position-relative">
            <i class="fa fa-shopping-cart fa-2x mr-5 text-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar"></i>
            <div class="cart-no">{{zapCanasta.length}}</div>
        </a>
        <a class="btn btn-outline-primary" style="margin-left: 25px;" [routerLink]="'/login'" *ngIf="user_role == undefined" id="iSesion">Iniciar sesión</a>
        <div class="dropdown">
          <button class="btn btn-info dropdown-toggle" *ngIf="user_role != undefined" style="margin-left: 25px;" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            {{user_nombre}} {{user_apellido}} ({{user_role}})
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li class="item">&nbsp;&nbsp;Role: <b><span style="color: rgb(25, 27, 70);">{{user_role}}</span></b></li>
            <li><a class="dropdown-item" [routerLink]="['/usuario/',user_id]">Perfil</a></li>
            <li><a class="dropdown-item" (click)="logout()" id="cSesion">Cerrar sesión</a></li>
          </ul>
        </div>
    </div>

  </div>

      
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Carrito </h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">{{zapCanasta}}</a>
            </li>
          </ul>
          
        </div>
        
          <button class="btn btn-block btn-outline-success mb-2" [routerLink]="['/carrito']" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" *ngIf="user_id != undefined">HACER PEDIDO</button>
          <p style="text-align: center;" *ngIf="user_id == undefined" [routerLink]="['/login']" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">Debe iniciar sesión para poder comprar</p>
        
      </div>
   