<div class="border-bottom pt-5 mt-2 mb-3">

</div>

<div class="container">
  <ng-container>
    <form #actualizarForm="ngForm" (ngSubmit)="registrar(actualizarForm)">
      <div class="card box-shadow-sm">
          <div class="card-header">
              <h5 style="margin-bottom: 0px;">Actualizar <span style="color: #146D76;" ><b> {{usuario.perNombre}} {{usuario.perApellido}} </b></span> </h5>
          </div>
          <div class="card-body">
                <div class="row">
                  <div class="col-lg-8">
                      <div class="row">
                        <div class="col-lg-6 form-group">	
                            <label for="">Nombre</label>
                            <input type="text" class="form-control" placeholder="Nombre de usuario" required name="perNombre" [(ngModel)]="usuario.perNombre">
                        </div>
                        <div class="col-lg-6 form-group">	
                          <label for="">Apellido</label>
                          <input type="text" class="form-control" placeholder="Apellido de usuario" required name="perApellido" [(ngModel)]="usuario.perApellido">
                      </div>
                        
                        <div class="col-lg-12 form-group">	
                          <label for="">Dirección:</label>
                          <input type="text" class="form-control" placeholder="Dirección" required name="perDireccion" [(ngModel)]="usuario.perDireccion">
                        </div>
                        
                        <div class="col-lg-6 form-group">	
                            <label for="">Email</label>
                            <input type="text" class="form-control" placeholder="Email" required name="perEmail" [(ngModel)]="usuario.perEmail">
                        </div>

                        <div class="col-lg-6 form-group">	
                          <label for="">Fecha de nacimiento</label>
                          <input type="text" class="form-control" placeholder="Fecha de nacimiento" required name="perFechaNacimiento" [(ngModel)]="usuario.perFechaNacimiento">
                        </div>
                        
                        <div class="col-lg-4 form-group">	
                          <label for="">Identifiación</label>
                          <input type="text" class="form-control" placeholder="Identificacion" required name="perIdentificacion" [(ngModel)]="usuario.perIdentificacion">
                        </div> 

                      <div class="col-lg-4 form-group">	
                        <label for="">Genero</label>
                        <select class="form-control" [(ngModel)]="usuario.perGenero">
                          <option value="M">M</option>
                          <option value="F">F</option>

                        </select>
                      </div>
                      
                      <div class="col-lg-4 form-group">	
                        <label for="">Talla</label>
                        <input type="number" class="form-control" placeholder="Talla" required name="perTalla" [(ngModel)]="usuario.perTalla">
                      </div>

                      <div class="col-lg-6 form-group">	
                        <label for="">Password:</label>
                        <input type="password" class="form-control" placeholder="Password" required name="perPassword" [(ngModel)]="usuario.perPassword">
                      </div>

                      <div class="col-lg-4 form-group">	
                        <label for="">Rol</label>
                        <select class="form-control" required  name="perRole" [(ngModel)]="usuario.perRole">
                          <option value="Admin">Admin</option>
                          <option value="Cliente">Cliente</option>

                        </select>
                      </div>

                      </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="card">
                      <div class="card-body">
                        <div class="col-lg-12 mt-2">
                          <img src="assets/images/perfil.jpg" width="100%" alt="Gallery thumbnail">
                        </div>
                      </div>
                    <a class="btn btn-block btn-outline-success mt-2" style="cursor: pointer;" [routerLink]="['/usuario/actualizar/', usuario.perCodigo]">{{usuario.perRole}}</a>
                    </div>
                  </div>
                </div>
          </div>
          <div class="card-footer">
              <button  class="btn btn-primary mr-3" type="submit">Actualizar producto</button>
              
              <a class="btn btn-warning" [routerLink]="['/usuario/',usuario.zapCodigo]" routerLinkActive="router-link-active" >Regresar</a>
          </div>
      </div> 
    </form>
  </ng-container>

</div>

